<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="background:#F6F6F6; font-family:Arial, Calibri, Microsoft JhengHei, sans-serif; font-size:12px; margin:0; padding:0;">
<div>
    <div style="background:#F6F6F6; font-family:Arial, Calibri, Microsoft JhengHei, sans-serif; font-size:12px; margin:0; padding:0;">
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
            <tr>
                <tdalign="center" valign="top" style="padding: 20px 0 20px 0">
            </tr>
            </tbody>
        </table>
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <!-- [ header starts here ] -->
            <tbody>
            <tr>
                <td valign="top" style="border-bottom: 1px solid #E0E0E0;"><a href="https://apc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.jselect.com%2Findex.php%2F&amp;data=02%7C01%7Cjustinyuen%40jebsen.com%7Cd236934eb39244f4f3d208d8387c6ca0%7C9783ae18eab341f2abbda8b3c7df2fe3%7C0%7C0%7C637321454352572510&amp;sdata=bnaWzxeWiRGaiRGpsA9odmim3UuKxM7idp3or5vq2IM%3D&amp;reserved=0" originalsrc="https://www.jselect.com/index.php/" shash="JQ3yqrQuif6ELMLAOIAj6Hai6Ut7XOPKmSKZYbwVFohZBqVnd0vL1iQXNlG0K8xwtOVjfSpC68mpx55sX4555W+M3qgTjnUW4FM9+VyqHbkvRi3m2MLb00xMgplgL5FikRetW5sujJxDALnFCkdRbSGwKdrZn4NsIfXpflvj0eA="><img src="https://www.jselect.com/skin/frontend/enterprise/v2017/images/logo.png" style="margin-bottom:10px;" border="0" width="207"></a></td>
            </tr>
            <!-- [ middle starts here ] -->
            <tr>
                <td>
                    <p style="font-size: 12px; font-weight: normal; line-height: 20px; margin: 0 0 30px 0;">
                        Dear LI SM , </p>
                    <p style="font-size:12px;">We are pleased to inform you that your order is ready to pick up. Please visit the store within 7 days in person with the store pick up notification email.
                    </p>
                    <p style="font-size:12px;font-weight:bold;">Order #100024741 </p>
                </td>
            </tr>
            <tr>
                <!-- Order Details-->
                <td>
                    <table cellspacing="0" cellpadding="0" border="0" width="650">
                        <thead>
                        <tr>
                            <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:12px; padding:5px 9px 6px 9px; line-height:1em;">
                                Receiver Information </th>
                            <th width="10"></th>
                            <th align="left" width="325" style="font-size:12px; padding:5px 9px 6px 9px; line-height:1em;">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                Name: LI SM <br>
                                Tel: 92358518 &nbsp; </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px;"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- End of Order Details--><span style="font-size:12px; padding:5px 9px 6px 9px; line-height:1em;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #EAEAEA;">
                                            <thead>
                                                <tr>
                                                <th align="left" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px">Item</th>
                                                <th align="left" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px">Sku</th>
                                                <th align="center" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px">Qty</th>
                                                <th align="center" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px">Type</th>
                                                <th align="right" bgcolor="#EAEAEA" style="font-size:13px; padding:3px 9px">Subtotal</th>
                                                </tr>
                                            </thead>
                                            <tbody bgcolor="#F6F6F6">
                                                <tr>
                                                    <td align="left" valign="top" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
                                                        <strong style="font-size:11px;">Sonoro Elite CD Streaming Music System (White)</strong>
                                                    </td>
                                                    <td align="left" valign="top" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
                                                    ELITE-WH</td>
                                                    <td align="center" valign="top" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
                                                    1</td>
                                                    <td align="center" valign="top" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
                                                    Normal </td>
                                                    <td align="right" valign="top" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
                                                    <span class="price">HK$3,893.00</span> </td>
                                                </tr>
                                            </tbody>
                                            <tbody style="font-size:12px">
                                                <tr class="subtotal">
                                                    <td colspan="3" align="right" style="padding:3px 9px">Subtotal </td>
                                                    <td align="right" style="padding:3px 9px"><span class="price">HK$3,893.00</span> </td>
                                                </tr>
                                                <tr class="shipping">
                                                    <td colspan="3" align="right" style="padding:3px 9px">Shipping &amp; Handling </td>
                                                    <td align="right" style="padding:3px 9px"><span class="price">HK$0.00</span> </td>
                                                </tr>
                                                <tr class="discount">
                                                    <td colspan="3" align="right" style="padding:3px 9px">Discount (Add-ons and Discounts, Santilizer Spray Add-on Offer, HKRMA promotion, Crazy Weekend Coupon)
                                                    </td>
                                                    <td align="right" style="padding:3px 9px"><span class="price">-HK$300.00</span> </td>
                                                </tr>
                                                <tr class="grand_total">
                                                    <td colspan="3" align="right" style="padding:3px 9px"><strong>Grand Total</strong>
                                                    </td>
                                                    <td align="right" style="padding:3px 9px"><strong><span class="price">HK$3,593.00</span></strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </span><!-- Pickup Store -->
                    <table cellspacing="0" cellpadding="0" border="0" width="650">
                        <thead>
                        <tr>
                            <th align="left" width="485" bgcolor="#EAEAEA" style="font-size:12px; padding:5px 9px 6px 9px; line-height:1em;">
                                Pick up Store </th>
                            <th align="left" width="175" bgcolor="#EAEAEA" style="text-align:center; font-size:12px; padding:5px 9px 6px 9px; line-height:1em;">
                                Status </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; background-color:#F6F6F6">
                                J SELECT Store - Kowloon Tong: Festival Walk (Not applicable for staff) <br>
                                Shop G-28, Festival Walk, Kowloon Tong &nbsp; </td>
                            <td valign="top" style="text-align:center; font-size:12px; padding:7px 9px 9px 9px; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA; background-color:#F6F6F6">
                                Ready to Pick Up </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- End of pickup store -->
                    <p style="font-size: 12px;">J SELECT stores opening hours</p>
                    <p style="font-size: 12px;"></p>
                    <ul style="font-size: 12px;">
                        <li>HomeSquare (Opening hours: 11:00 AM – 9:00 PM)</li><li>Festival Walk (Opening hours: 11:00 AM – 9:00 PM)</li><li>Pacific Place (Opening hours: 10:30 AM – 8:30 PM)</li><li>PopCorn (Opening hours: Mon - Fri 11:00 AM – 9:00 PM / Sat - Sun 11:30 AM – 9:30 PM)</li><li>YOHO (Opening hours: 11:00am – 9:00pm)</li><li>K11 Musea (Opening hours: 11:00am – 9:00pm)</li></ul>
                    <p></p>
                    <p style="font-size: 12px;">If you are unable to visit the store within 7 days, please contact us for further arrangement.</p>
                    <p style="font-size: 12px;">If you need assistance, please don't hesitate to contact our Customer Care Team. We will be happy to serve you! Thank you again for your support.</p>
                    <p style="font-size: 12px;">Yours sincerely,<br>
                        <br>
                        Customer Care team
                        <br>
                        <br>
                        Email: <a style="text-decoration: none; color: #818181;" href="mailto:cs@jselect.com">
                            cs@jselect.com</a><br>
                        Hotline: +852 2926 2300<br>
                        Mon - Sat 9:00AM - 8:00PM <br>
                        Closed on Sunday and Public Holidays</p>
                </td>
            </tr>
            <!--Footer Starts-->
            <tr>
                <td style="background: #EAEAEA; text-align: center;" align="center" bgcolor="#EAEAEA">
                    <center>
                        <p style="font-size:12px; margin:0;"><strong>© 2020 <a href="https://apc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.jselect.com%2F%3Futm_source%3Dmagento%26utm_medium%3Demail%26utm_campaign%3Dorder-pickup-20200610%26utm_content%3Deng&amp;data=02%7C01%7Cjustinyuen%40jebsen.com%7Cd236934eb39244f4f3d208d8387c6ca0%7C9783ae18eab341f2abbda8b3c7df2fe3%7C0%7C0%7C637321454352572510&amp;sdata=X8qkYIu%2F9NampmpgrSe9eHOo1BDlLCYVxKbMpJ3ZOX8%3D&amp;reserved=0" originalsrc="https://www.jselect.com/?utm_source=magento&amp;utm_medium=email&amp;utm_campaign=order-pickup-20200610&amp;utm_content=eng" shash="nm9eRTVMYVD3793VsY4SGCIJ3RkPLrJ90xKW+78BFiLqpv8tDwOkqp1gb3971FUraGAwFqh9dx1wMDh0v76vA+5YB/Kg7J/ZjF7LM893uH1FQ1/z0HTs3E7ekAaJYSrJdFgcvAEG8+6IY/THXPkcRP/ree7kffGg6lE0lNay2YQ=" style="text-decoration:underline; color:#000000;">
                            Jebsen Home Tech Company Limited</a>. All rights reserved. </strong></p>
                    </center>
                </td>
            </tr>
            <!--Footer Ends-->
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
